body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.padded5 {
	padding:5px;
}

.logga {
	width:320px;
	margin:auto;
}

.logga img {
	width:100%;
	height:auto;
}

.loginbox {
	border-radius: 5px;
	border:1px solid #000;
	background-color:#eee;
	margin:auto;
	width:320px;
}

.loginbox #wrapper{
	padding:20px;
}

.loginbox #wrapper h1 {
	text-align: center;
}

.inlaggwritebox{
	border-radius: 5px;
	border:1px solid #000;
	background-color: #eee;
}

.inlaggwritebox #wrapper {
	padding:20px;
}

